<div class="main-container">

  <div class="sub-container" *ngIf="!isOtherRoute()">

    <mat-toolbar>
      <span class="heading-span">
        Helpers
      </span>
    </mat-toolbar>

    <mat-card class="controls-bar">
      <div class="controls-grid">

        <button mat-raised-button [matMenuTriggerFor]="sortMenu">
          <mat-icon>swap_vert</mat-icon>
        </button>

        <mat-menu #sortMenu="matMenu" panelClass="sort-menu-panel" [hasBackdrop]="true">
          <div class="sort-header">Sort by</div>
          <button mat-menu-item 
                  class="sort-option" 
                  [class.selected]="currentSortBy === 'fullName'"
                  (click)="sortHelpers('fullName', $event);">
            <span>Helpers Name(A-Z)</span>
            <mat-icon *ngIf="currentSortBy === 'fullName'" class="check-icon">check</mat-icon>
          </button>
          
          <button mat-menu-item 
                  class="sort-option" 
                  [class.selected]="currentSortBy === 'employeeId'"
                  (click)="sortHelpers('employeeId', $event);"
                  apperance="outline">
            <span>Employee ID</span>
            <mat-icon *ngIf="currentSortBy === 'employeeId'" class="check-icon">check</mat-icon>
          </button>
        </mat-menu>

        <button  mat-raised-button [matMenuTriggerFor]="filterMenu" #menuTrigger="matMenuTrigger">
          <mat-icon>filter_alt</mat-icon>
        </button>

        <mat-menu #filterMenu="matMenu" panelClass="filter-menu-panel" [hasBackdrop]="true">
          
          <div class="filter-inner-div" (click)="$event.stopPropagation()"> 

            <div class="sort-header">Filter By</div>

            <div class="filter-section">

              <button
                *ngIf="serviceFilter.value?.length" 
                class="filter-reset"
                (click)="serviceFilter.setValue([])">
                Reset
              </button>

              <app-multi-select-with-select-all
                label="Services"
                [items]="servicesList"
                [control]="serviceFilter">
              </app-multi-select-with-select-all>
            </div>
            
            <div class="filter-section">

              <button *ngIf="organizationFilter.value?.length" 
                class="filter-reset"
                (click)="organizationFilter.setValue([])">
                Reset
              </button>

              <app-multi-select-with-select-all
                label="Organizations"
                [items]="organizationsList"
                [control]="organizationFilter">
              </app-multi-select-with-select-all>
            </div>

            
            <div class="filter-footer">
              <button mat-stroked-button color="primary" (click)="resetFilters()">reset</button>
              <button mat-flat-button color="primary" (click)="applySearchAndFilters(); menuTrigger.closeMenu()">Apply</button>
            </div>
          </div>
        </mat-menu>

        <button mat-raised-button class="search-div">
          <mat-icon>search</mat-icon>
          <input matInput class="input-no-hover" placeholder="Name, EmployeeId, Phone" 
                  [(ngModel)]="searchQuery" 
                  (ngModelChange)="applySearchAndFilters()">
        </button>

        <div >
          <p *ngIf="showCount">{{helperCount}} of </p>
          <p >{{totalHelperCount}}</p>
          <p>helpers</p>
        </div>

      </div>

      <div class="add-helper-div">
        <mat-icon>download</mat-icon> 
        <button mat-raised-button color="primary" [routerLink]="['/add-edit-helper']" [queryParams]="{ mode: 'add' }"
                (click)="clicked()" [disabled]="isDisable">
          <mat-icon>add</mat-icon>
          Add Helper
        </button>
      </div>
    </mat-card>

    <div *ngIf="!isOtherRoute()" class="home-container">
      <div class="sidebar">
        
        <div *ngFor="let helper of helpers" 
            class="helper-card"
            [class.active]=" selectedHelper?.employeeId === helper.employeeId "
            (click)="onClick( helper.employeeId )">

          <div class="helper-div-1">

            <img class="helper-pic" *ngIf="helper.photo" [src]=" getUrl(helper.photo) ">
            <img class="helper-pic" *ngIf="!helper.photo" [src]="'https://ui-avatars.com/api/?name=' + getInitials(helper.fullName) + '&background=random&color=fff&rounded=true&length=2'">

          </div>
          <div class="helper-div-2">

            <div class="helper-name">{{ helper.fullName }}</div>
            <div class="helper-id">ID: {{ helper.employeeId }}</div>

          </div>
        </div>
      </div>

      <div class="content">

        <div class="helper-detail-card" *ngIf="selectedHelper">

          <div class="header">

            <div class="avatar-section">
              <img class="avatar" 
                *ngIf="!selectedHelper.photo" 
                [src]="'https://ui-avatars.com/api/?name=' + getInitials(selectedHelper.fullName) + '&background=random&color=fff&rounded=true&length=2'">
              <img class="avatar-pic" *ngIf="selectedHelper.photo" [src]="getUrl(selectedHelper.photo)">
              
              <div class="name-role">
                <h2>{{ selectedHelper.fullName }}</h2>
                <p>{{ selectedHelper.services }}</p>
              </div>
            </div>

            <div class="actions">
              <button mat-icon-button 
                [routerLink]="['/add-edit-helper',selectedHelper.employeeId]" 
                [queryParams]="{ mode: 'edit' }" 
                (click)="clicked()">
                  <mat-icon>
                    edit
                  </mat-icon>
              </button>
              <button mat-icon-button 
                (click)="deleteHelper(selectedHelper.employeeId)">
                  <mat-icon>
                    delete
                  </mat-icon>
              </button>
            </div>

          </div>


          <div class="detail-section">
            <h3>EMPLOYEE ID</h3>
            <div class="detail-grid">
              <div>Identification Card</div>
              <div><a 
                [href]="getUrl(selectedHelper.kycDocument)" 
                target="_blank">
                <mat-icon >visibility</mat-icon>
                View</a></div>
              <div>Employee Code</div>
              <div>{{ selectedHelper.employeeId }}</div>
            </div>
          </div>

          <div class="detail-section">
            <h3>PERSONAL DETAILS</h3>
            <div class="detail-grid">
              <div>Gender</div><div>{{ selectedHelper.gender }}</div>
              <div>Language(s)</div><div>{{ selectedHelper.languages.join(', ') }}</div>
              <div>Mobile No.</div><div>{{ selectedHelper.phonePrefix }} {{ selectedHelper.phoneNumber }}</div>
              <div>Email ID</div><div>{{ selectedHelper.email || '-' }}</div>
              <div>KYC Document</div>
              <div><a 
                [href]="getUrl(selectedHelper.kycDocument)" 
                target="_blank">
                <mat-icon>visibility</mat-icon>
                View</a></div>
            </div>
          </div>

          <div class="detail-section">
            <h3>SERVICE DETAILS</h3>
            <div class="detail-grid">
              <div>Type</div><div>{{ selectedHelper.services }}</div>
              <div>Organization</div><div>{{ selectedHelper.organization }}</div>
              <div>Joined On</div><div>{{ formatDate(selectedHelper.joinedDate) }}</div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div *ngIf="isOtherRoute()" class="form-container">

    <div class="form-body">
      <div class="routed-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
  
</div>
