<nav class="back-nav">

  <button  [routerLink]="['../']" *ngIf="mode === 'add'">
    <mat-icon>arrow_back</mat-icon>
    Add Helper
  </button>
  <button  [routerLink]="['../../']" *ngIf="mode === 'edit'">
    <mat-icon>arrow_back</mat-icon>
    Edit Helper
  </button>

</nav>

<div class="custom-stepper-container" >

  <mat-stepper orientation="vertical" [linear]="true" #stepper (selectionChange)="onStepperSelectionChange($event)" *ngIf="mode === 'add'">
    <mat-step label="Helper Details">Add helper details</mat-step>
    <mat-step label="Documents">Upload Related Documents</mat-step>
    <mat-step label="Review">Check the information and Confirm</mat-step>
  </mat-stepper>

  <div *ngIf="mode === 'edit' " class="sidebar-buttons">
    <button [class.active]="selectedIndex === 0" (click)="details()"><mat-icon></mat-icon>Helper Details</button>
    <button [class.active]="selectedIndex === 1" (click)="otherDetails()"><mat-icon></mat-icon>Documents</button>
  </div>

  <div class="stepper-content" >
    <div [ngSwitch]="selectedIndex" >

      <div *ngSwitchCase="0">
        <form [formGroup]="firstFormGroup">
          <div class="desc-div">
            <div>Helper Details</div>
            <p>Track, Add & Manage all your helpers at one place</p>
          </div>

            <div class="file-upload-div">

              <button mat-fab type="button" color="warm" (click)="triggerFileInput(fileInput)" class="big-fab">

                <ng-container *ngIf="photoUrl; else iconOnly">
                  <img [src]="photoUrl"  width="120" height="120" style="object-fit: cover;" />
                </ng-container>

                <ng-template #iconOnly>
                  <mat-icon>file_upload</mat-icon>
                </ng-template>

              </button>

              <input #fileInput id="photoInput" type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
              <p>Upload photo (.png, .jpeg) max size 5 MB</p>
              
              <mat-error *ngIf="photoSizeError">
                File is too large. Max 5 MB.
              </mat-error>
              <mat-error *ngIf="photoTypeError">
                Invalid type. Allowed: JPG or PNG.
              </mat-error>

            </div>


            <mat-form-field appearance="outline">

              <mat-label>Type of Service</mat-label>
              
              <mat-select formControlName="services">
                <mat-option *ngFor="let service of servicesList" [value]="service">
                  {{ service }}
                </mat-option>
              </mat-select>

              @if (firstFormGroup.get("services")?.invalid){
                <mat-error>Select the service</mat-error>
              }

            </mat-form-field>

            <mat-form-field class="organization-field" appearance="outline">

              <mat-label>Organization</mat-label>

              <mat-select formControlName="organization">
                <mat-option value="ASBL">ASBL</mat-option>
                <mat-option value="Spring Helpers">Spring Helpers</mat-option>
              </mat-select>

              @if (firstFormGroup.get("organization")?.invalid){
                <mat-error>Select an Organization</mat-error>
              }

            </mat-form-field>

            <mat-form-field class="name-field" appearance="outline">

                <mat-label>Full Name</mat-label>

                <input matInput placeholder="Last name, First name" formControlName="fullName">

                @if (firstFormGroup.get("fullName")?.invalid){
                  <mat-error>Enter valid Full Name</mat-error>
                }

            </mat-form-field>

            <app-multi-select-with-select-all
              label="Languages"
              [items]="languagesList"
              errorMessage="Select at least one language"
              [control]="languageControl">
            </app-multi-select-with-select-all>

            <div>
              <label class="gender-label">Gender*</label>
              <mat-radio-group formControlName="gender">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
                <mat-radio-button value="Other">Other</mat-radio-button>
              </mat-radio-group>
              @if (firstFormGroup.get("gender")?.invalid && (firstFormGroup.get("gender")?.touched || firstFormGroup.get("gender")?.dirty)){
                <mat-error style="font-size: 12px;">Select a gender</mat-error>
              }
            </div>

            <div class="number-div">

              <mat-form-field appearance="outline" style="width: 100px;">

                <mat-select formControlName="phonePrefix">
                  <mat-option *ngFor="let prefix of phonePrefixes" [value]="prefix">
                    {{ prefix }}
                  </mat-option>
                </mat-select>

              </mat-form-field>

              <mat-form-field appearance="outline">

                <mat-label>Phone Number</mat-label>
                <input
                  matInput
                  type="tel"
                  formControlName="phoneNumber"
                  placeholder="Enter phone number"
                />
                
                @if (firstFormGroup.get('phoneNumber')?.invalid && firstFormGroup.get('phoneNumber')?.touched) {
                  <mat-error>Enter valid phone number</mat-error>
                }

              </mat-form-field>
            </div>

            <mat-form-field appearance="outline">

                <mat-label>Email</mat-label>
                <input matInput placeholder="Example@gmail.com" formControlName="email">
                @if (firstFormGroup.get("email")?.invalid){
                  <mat-error>Enter valid Email</mat-error>
                }

            </mat-form-field>
          
            <mat-form-field appearance="outline">

              <mat-label>Vehicle Type</mat-label>
              <mat-select formControlName="vehicleType">
                <mat-option *ngFor="let type of vehicleTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>

            </mat-form-field>

            @if (firstFormGroup.get('vehicleType')?.value !== 'none') {
              <mat-form-field appearance="outline">

                <mat-label>Vehicle Number</mat-label>
                <input matInput formControlName="vehicleNumber" placeholder="TG12AB3456">
                @if (firstFormGroup.get('vehicleNumber')?.invalid && firstFormGroup.get('vehicleNumber')?.touched) {
                  <mat-error>Vehicle number is required</mat-error>
                }

              </mat-form-field>
            }

            <div class="add-kyc-div">

              <button type="button" mat-raised-button
                (click)="openKycUploadModal(kycDialog)"
                [ngStyle]="{ borderColor: isKycInvalid() ? 'red' : '#ccc' }">

                <ng-container *ngIf="!kycDocumentControl?.value; else showDoc">
                  <mat-icon>add</mat-icon>
                  <div>Upload KYC</div>
                </ng-container>

                <ng-template #showDoc>
                  <div class="doc-row">
                    <mat-icon>picture_as_pdf</mat-icon>

                    <div class="doc-name" [matTooltip]="kycDocumentControl.value?.name || ''">
                      {{ kycDocumentControl.value?.name }}
                    </div>
                  </div>

                  <div class="doc-meta" *ngIf="kycDocumentControl?.value">
                    {{ (kycDocumentControl.value.size / 1024) | number:'1.2-2' }} KB
                  </div>
                  <div class="doc-meta" *ngIf="!kycDocumentControl?.value">
                    0.00 KB
                  </div>
                </ng-template>

              </button>
            </div>

            <ng-template #kycDialog>

              <app-file-upload-dialog
                [title]="'Upload KYC Document'"
                [formGroup]="firstFormGroup"
                [controlName]="'kycDocument'"
                [controlNameType]="'kycDocType'"
                [documentTypes]="documentTypes"
                (save)="saveKycFileEmit()"
                (close)="closeKycDialogRef()">
              </app-file-upload-dialog>

            </ng-template>

            <div class="next-div">
                <button mat-raised-button type="button"
                        (click)="goToNextStep(stepper)"
                        *ngIf="mode === 'add'">
                  <span>Next</span>
                  <mat-icon *ngIf="mode === 'add'">chevron_right</mat-icon>
                </button>
                <button mat-raised-button color="primary" type="button"
                        *ngIf="mode === 'edit'"
                        (click)="editSubmitCheck()">
                        submit
                </button>
            </div>
        </form>
      </div>

      <div *ngSwitchCase="1">
        <form [formGroup]="secondFormGroup">

          <div class="desc-div">
            <div>Additional Documents</div>
            <p>
              Upload related documents. This step is optional.
            </p>
          </div>

          <div class="add-other-div">

            <button class="other-div-button" type="button" mat-raised-button
              (click)="openOtherUploadModal(otherDialog)"
              [ngStyle]="{ borderColor: isOtherInvalid() ? 'red' : '#ccc' }">

              <ng-container *ngIf="!otherDocControl?.value; else showDocOther">
                <mat-icon>add</mat-icon>
                <div style="font-size: 12px; color: gray;">Upload Other File</div>
              </ng-container>

              <ng-template #showDocOther>
                <div class="doc-row">
                  <mat-icon>picture_as_pdf</mat-icon>

                  <div class="doc-name" [matTooltip]="otherDocControl.value?.name || ''">
                    {{ otherDocControl.value?.name }}
                  </div>
                </div>

                <div class="doc-meta" *ngIf="otherDocControl?.value">
                  {{ (otherDocControl.value.size / 1024) | number:'1.2-2' }} KB
                </div>
                <div class="doc-meta" *ngIf="!selectedOtherFile">
                  0.00 KB
                </div>

              </ng-template>

            </button>

            <ng-template #otherDialog>

              <app-file-upload-dialog
                [title]="'Upload Other Documents'"
                [formGroup]="secondFormGroup"
                [controlName]="'otherDocument'"
                [controlNameType]="'otherDocType'"
                [documentTypes]="documentTypes"
                (save)="saveOtherFileEmit()"
                (close)="closeOtherDialogRef()">
              </app-file-upload-dialog>
              
            </ng-template>

            <div class="step-2-buttons">
                <button mat-raised-button *ngIf="mode === 'add'" mat-button (click)="selectedIndex = 0; stepper.selectedIndex=0">
                  Previous
                  <mat-icon>chevron_left</mat-icon>
                </button>
                <button *ngIf="mode === 'add'" mat-raised-button (click)="selectedIndex = 2; stepper.selectedIndex=2">
                  Next
                  <mat-icon>chevron_right</mat-icon>
                </button>
                <button *ngIf="mode === 'edit'" mat-raised-button color="primary" type="button" (click)="logging()">submit</button>
            </div>
          </div>
        </form>
      </div>


      <div *ngSwitchCase="2" class="review-step">
        
        <div class="header">

          <div class="avatar-section">

            <img class="avatar" 
                *ngIf="!firstFormGroup.get('photo')?.value" 
                [src]="'https://ui-avatars.com/api/?name=' + getInitials(firstFormGroup.get('fullName')?.value || '') + '&background=random&color=fff&rounded=true&length=2'">
            <img class="avatar-pic" *ngIf="firstFormGroup.get('photo')?.value" [src]="getPhotoUrl(firstFormGroup.get('photo')?.value)">

            <div class="name-role">
              <h2>{{ firstFormGroup.get("fullName")?.value }}</h2>
              <p>{{ firstFormGroup.get("services")?.value }}</p>
            </div>
          </div>

        </div>

        <div class="detail-section">
          <h3>PERSONAL DETAILS</h3>
          <div class="detail-grid">
            <div>Gender</div><div>{{ firstFormGroup.get("gender")?.value }}</div>
            <div>Language(s)</div><div>{{ firstFormGroup.get("languages")?.value?.join(', ') }}</div>
            <div>Mobile No.</div><div>{{ firstFormGroup.get("phonePrefix")?.value }} {{ firstFormGroup.get("phoneNumber")?.value }}</div>
            <div>Email ID</div><div>{{ firstFormGroup.get("email")?.value || '-' }}</div>
            <div>KYC Document</div>
            <div><a *ngIf="firstFormGroup.get('kycDocument')?.value"
              [href]="getFileUrl(firstFormGroup.get('kycDocument')?.value)"
              target="_blank"
              style="display: flex; align-items: center; text-decoration: none;">
              <mat-icon>visibility</mat-icon>
              View</a>
            </div>
          </div>
        </div>

        <div class="detail-section">
          <h3>SERVICE DETAILS</h3>
          <div class="detail-grid">
            <div>Type</div><div>{{ firstFormGroup.get("services")?.value }}</div>
            <div>Organization</div><div>{{ firstFormGroup.get("organization")?.value }}</div>
          </div>
        </div>

        <div class="step-3-buttons">
          <button mat-raised-button (click)="selectedIndex = 1; stepper.selectedIndex = 1">
            <mat-icon>chevron_left</mat-icon>
            Back
          </button>
          <button mat-raised-button color="primary" type="button" (click)="logging()"><mat-icon>add</mat-icon>Add Helper</button>
        </div>
      </div>

    </div>
  </div>
</div>


